@charset "UTF-8";

@import "./main.scss";

@mixin product_box_parts() {
    border: 1px solid #000000;
    padding: 20px;

    img {
        width: 100%;
    }

    .product_name {
        font-size: 14px;
        margin-top: 20px;
    }

    .product_price {
        color: #ff0000;
        font-weight: bold;
        margin-top: 10px;
    }

    .product_evaluation {
        color: #d6c429;
        margin-top: 10px;
    }

    .product_review {
        margin-top: 20px;

        &.txt_hide {
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 3;
            overflow: hidden;
        }
    }
}

@mixin btn_area_double_parts() {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-column-gap: 20px;
}

@mixin link_button_parts() {
    width: 100%;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 4px;

    &:hover {
        opacity: 0.5;
    }
}

// ↓管理者オレンジマーク↓
.admin_mark_area {
    grid-column-start: left;
    grid-column-end: right;
    grid-row-start: admin;

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ff6b00;
    height: 60px;
    border: solid #000000;
    border-width: 0px 2px 2px 2px;

    @include mq(xg) {
        grid-column-start: mainStart;
        grid-column-end: mainEnd;
    }

    p {
        color: #ffffff;
        font-size: 18px;
        font-weight: bold;
        text-align: center;
    }
}
// ↑管理者オレンジマーク↑

// ↓タイトル表示エリア↓
.title_area {
    grid-column-start: mainStart;
    grid-column-end: mainEnd;
    grid-row-start: title;

    h2 {
        font-size: 24px;
        font-weight: bold;
        text-align: center;
        margin-top: 60px;
    }

    h3 {
        font-size: 20px;
        text-align: center;
        margin-top: 60px;
        margin-bottom: 20px;
    }
}
// ↑タイトル表示エリア↑

main {
    grid-column-start: mainStart;
    grid-column-end: mainEnd;
    grid-row-start: main;

    // ↓商品陳列表示↓
    .product_list_area {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        grid-column-gap: 20px;
        grid-row-gap: 20px;

        @include mq(md) {
            grid-template-columns: 1fr 1fr;
        }
    
        @include mq(sm) {
            grid-template-columns: 1fr;
        }

        .product_box {
            @include product_box_parts();
    
            .button_area_double {
                @include btn_area_double_parts();
    
                .btn_link {
                    display: block;
                    margin-top: 20px;
                    @include link_button_parts();
                }
            }
        }
    }
    // ↑商品陳列表示↑

    // ↓商品単品表示↓
    .product_pickup_area {
        padding-top: 40px;
        max-width: 480px;
        margin-left: auto;
        margin-right: auto;
    
        .product_box {
            @include product_box_parts();
        }
    
        .button_area_double {
            @include btn_area_double_parts();

            .btn_link {
                display: flex;
                align-items: center;
                justify-content: center;
                margin-top: 30px;
                @include link_button_parts();
            }
        }
    }
    // ↑商品単品表示↑

    // ↓入力エリア表示↓
    .input_area {
        max-width: 640px;
        padding-top: 40px;
        margin-left: auto;
        margin-right: auto;

        p {
            font-size: 14px;
            margin-top: 20px;
        }

        .input_space {
            background-color: #eeeeee;
            border: 1px solid #000000;
            height: 30px;
            margin-top: 10px;
            padding-left: 5px;

            &.type_detail {
                height: 140px;
                padding-top: 5px;
                padding-right: 5px;
            }
        }
    
        .button_area_double {
            @include btn_area_double_parts();

            .btn_link {
                display: flex;
                align-items: center;
                justify-content: center;
                margin-top: 30px;
                @include link_button_parts();
            }
        }
    }
    // ↑入力エリア表示↑

    .other_area {
        padding-top: 40px;
        max-width: 480px;
        margin-left: auto;
        margin-right: auto;

        .btn_link {
            display: block;
            @include link_button_parts();
        }
    }
}

// ↓ボタン装飾↓
.btn_link {
    &.modify, &.return {
        color: #ffffff;
        background-color: #444444;
    }

    &.delete {
        color: #ffffff;
        background-color: #ff0000;
    }

    &.register {
        color: #ffffff;
        background-color: #0000ff;
    }
}
// ↑ボタン装飾↑