body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: [left] minmax(20px, 1fr) [mainStart] minmax(auto, 1140px) [mainEnd] minmax(20px, 1fr) [right];
      grid-template-columns: [left] minmax(20px, 1fr) [mainStart] minmax(auto, 1140px) [mainEnd] minmax(20px, 1fr) [right];
  -ms-grid-rows: [head] auto [head] auto [img] auto [admin] auto [title] auto [main] auto [foot] auto [bottom];
      grid-template-rows: [head] auto [head] auto [img] auto [admin] auto [title] auto [main] auto [foot] auto [bottom];
}

.admin_mark_area {
  -ms-grid-column: left;
      grid-column-start: left;
  grid-column-end: right;
  -ms-grid-row: admin;
      grid-row-start: admin;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #ff6b00;
  height: 60px;
  border: 2px solid #000000;
}

@media screen and (min-width: 1140px) {
  .admin_mark_area {
    -ms-grid-column: mainStart;
        grid-column-start: mainStart;
    grid-column-end: mainEnd;
  }
}

.admin_mark_area p {
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

.title_area {
  -ms-grid-column: mainStart;
      grid-column-start: mainStart;
  grid-column-end: mainEnd;
  -ms-grid-row: title;
      grid-row-start: title;
}

.title_area h2 {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-top: 60px;
}

.title_area h3 {
  font-size: 20px;
  text-align: center;
  margin-top: 60px;
  margin-bottom: 20px;
}

main {
  -ms-grid-column: mainStart;
      grid-column-start: mainStart;
  grid-column-end: mainEnd;
  -ms-grid-row: main;
      grid-row-start: main;
}

main .product_area {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  margin-bottom: 80px;
}

@media screen and (max-width: 750px) {
  main .product_area {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 480px) {
  main .product_area {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

main .product_area .product_box {
  border: 1px solid #000000;
  padding: 20px;
}

main .product_area .product_box img {
  width: 100%;
}

main .product_area .product_box .product_name {
  font-size: 14px;
  margin-top: 20px;
}

main .product_area .product_box .product_price {
  color: #ff0000;
  font-weight: bold;
  margin-top: 10px;
}

main .product_area .product_box .product_evaluation {
  color: #d6c429;
  margin-top: 10px;
}

main .product_area .product_box .product_review {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  margin-top: 20px;
}

main .product_area .product_box .button_area {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  grid-column-gap: 20px;
}

main .product_area .product_box .button_area .btn_link {
  display: block;
  color: #ffffff;
  background-color: #444444;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 4px;
}

main .product_area .product_box .button_area .btn_link:hover {
  opacity: 0.5;
}

main .product_area .product_box .button_area .btn_link.modify {
  background-color: #444444;
}

main .product_area .product_box .button_area .btn_link.delete {
  background-color: #ff0000;
}
/*# sourceMappingURL=admin_common.css.map */