@charset "UTF-8";

@import "./main.scss";

@mixin product_box_parts() {
    border: 1px solid #000000;
    padding: 10px;

    @include mq(col-sm) {
        padding: 20px;
    }

    img {
        float: left;
        width: 25%;
        margin-right: 10px;

        @include mq(col-sm) {
            float: none;
            width: 100%;
            margin-right: 0;
        }
    }

    .name_price_review_area {
        float: left;

        @include mq(col-sm) {
            float: none;
        }

        .product_name {
            font-size: 0.8rem;
    
            @include mq(col-sm) {
                font-size: 1.1rem;
                margin-top: 10px;
            }
        }
    
        .product_price {
            color: #ff0000;
            font-weight: bold;
            font-size: 0.8rem;
    
            @include mq(col-sm) {
                font-size: 1rem;
            }
        }
    
        .product_evaluation {
            color: #d6c429;
            font-size: 0.8rem;
    
            @include mq(col-sm) {
                font-size: 1rem;
            }
        }
    
        .product_review {
            display: none;
    
            @include mq(col-sm) {
                display: block;
                margin-top: 20px;
    
                &.txt_hide {
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 3;
                    overflow: hidden;
                }
            }
        }
    }

    .button_area {
        clear: both;
    }
}

@mixin btn_area_double_parts() {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-column-gap: 10px;

    @include mq(col-sm) {
        grid-column-gap: 20px;
    }
}

@mixin link_button_parts() {
    width: 100%;
    font-size: 0.8rem;
    font-weight: bold;
    text-align: center;
    padding: 5px 10px;
    margin-top: 10px;
    text-decoration: none;
    border-radius: 4px;

    &:hover {
        opacity: 0.5;
    }

    @include mq(col-sm) {
        font-size: 1rem;
        margin-top: 20px;
        padding: 10px 20px;
    }
}

// ↓管理者オレンジマーク↓
.admin_mark_area {
    grid-column-start: left;
    grid-column-end: right;
    grid-row-start: admin;

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ff6b00;
    height: 60px;
    border: solid #000000;
    border-width: 0px 2px 2px 2px;

    @include mq(col-xl) {
        grid-column-start: mainStart;
        grid-column-end: mainEnd;
    }

    p {
        color: #ffffff;
        font-weight: bold;
        text-align: center;

        @include mq(col-md) {
            font-size: 1.2rem;
        }
    }
}
// ↑管理者オレンジマーク↑

// ↓タイトル表示エリア↓
.title_area {
    grid-column-start: mainStart;
    grid-column-end: mainEnd;
    grid-row-start: title;

    h2 {
        font-size: 1.5rem;
        font-weight: bold;
        text-align: center;
        margin-top: 60px;

        @include mq(col-sm) {
            font-size: 2rem;
        }

        @include mq(col-lg) {
            font-size: 3rem;
        }
    }

    h3 {
        font-size: 1.3rem;
        text-align: center;
        margin-top: 60px;

        @include mq(col-sm) {
            font-size: 1.5rem;
        }

        @include mq(col-lg) {
            font-size: 2rem;
        }
    }

    .login_err_message {
        font-size: 1.3rem;
        text-align: center;
        margin-top: 60px;
        color: #ff0000;
    }
}
// ↑タイトル表示エリア↑

main {
    grid-column-start: mainStart;
    grid-column-end: mainEnd;
    grid-row-start: main;

    // ↓商品陳列表示↓
    .product_list_area {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-row-gap: 10px;
        padding-top: 60px;
    
        @include mq(col-sm) {
            grid-template-columns: 1fr 1fr;
            grid-column-gap: 20px;
        }

        @include mq(col-lg) {
            grid-template-columns: 1fr 1fr 1fr;
        }

        .product_box {
            @include product_box_parts();
    
            .button_area_double {
                @include btn_area_double_parts();
    
                .btn_link {
                    display: block;
                    @include link_button_parts();
                }
            }
        }
    }
    // ↑商品陳列表示↑
}

// ↓ボタン装飾↓
.btn_link {
    &.modify, &.return {
        color: #ffffff;
        background-color: #444444;
    }

    &.delete {
        color: #ffffff;
        background-color: #ff0000;
    }

    &.register {
        color: #ffffff;
        background-color: #0000ff;
    }
}
// ↑ボタン装飾↑