body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: [left] minmax(20px, 1fr) [mainStart] minmax(auto, 1200px) [mainEnd] minmax(20px, 1fr) [right];
      grid-template-columns: [left] minmax(20px, 1fr) [mainStart] minmax(auto, 1200px) [mainEnd] minmax(20px, 1fr) [right];
  -ms-grid-rows: [head] auto [head] auto [img] auto [admin] auto [title] auto [main] auto [foot] auto [bottom];
      grid-template-rows: [head] auto [head] auto [img] auto [admin] auto [title] auto [main] auto [foot] auto [bottom];
}

.title_area {
  -ms-grid-column: mainStart;
      grid-column-start: mainStart;
  grid-column-end: mainEnd;
  -ms-grid-row: title;
      grid-row-start: title;
}

.title_area h2 {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  margin-top: 60px;
}

@media screen and (min-width: 576px) {
  .title_area h2 {
    font-size: 2rem;
  }
}

@media screen and (min-width: 992px) {
  .title_area h2 {
    font-size: 3rem;
  }
}

.title_area h3 {
  font-size: 1.3rem;
  text-align: center;
  margin-top: 60px;
}

@media screen and (min-width: 576px) {
  .title_area h3 {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 992px) {
  .title_area h3 {
    font-size: 2rem;
  }
}

.title_area p {
  margin-top: 60px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .title_area p {
    font-size: 1.3rem;
  }
}

main {
  -ms-grid-column: mainStart;
      grid-column-start: mainStart;
  grid-column-end: mainEnd;
  -ms-grid-row: main;
      grid-row-start: main;
  padding-top: 60px;
}

main .product_pickup_area {
  max-width: 480px;
  margin-left: auto;
  margin-right: auto;
}

main .product_pickup_area .product_box {
  border: 1px solid #000000;
  padding: 20px;
}

main .product_pickup_area .product_box img {
  width: 100%;
}

main .product_pickup_area .product_box .product_name {
  font-size: 1.1rem;
  margin-top: 20px;
}

main .product_pickup_area .product_box .product_price {
  color: #ff0000;
  font-weight: bold;
  margin-top: 10px;
}

main .product_pickup_area .product_box .product_evaluation {
  color: #d6c429;
  margin-top: 10px;
}

main .product_pickup_area .product_box .product_review {
  margin-top: 20px;
}

main .product_pickup_area .product_box .product_review.txt_hide {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

main .product_pickup_area .button_area_double {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  grid-column-gap: 20px;
}

main .product_pickup_area .button_area_double .btn_link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 60px;
  width: 100%;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 4px;
}

main .product_pickup_area .button_area_double .btn_link:hover {
  opacity: 0.5;
}

main .cart_list_area {
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  main .cart_list_area {
    max-width: 640px;
  }
}

main .cart_list_area .cart_box {
  margin-bottom: 20px;
}

main .cart_list_area .cart_box:last-child {
  margin-bottom: 0;
}

main .cart_list_area .cart_box .detail_area {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
  border-top: 1px solid #404040;
  border-bottom: 1px dashed #404040;
  border-left: 1px solid #404040;
  border-right: 1px solid #404040;
  padding: 10px;
}

main .cart_list_area .cart_box .detail_area .product_image {
  -ms-grid-row-span: 2;
      grid-row-end: span 2;
  width: 100%;
}

main .cart_list_area .cart_box .detail_area .product_name {
  font-weight: bold;
  margin-left: 20px;
}

main .cart_list_area .cart_box .calc_area {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 2fr;
      grid-template-columns: 1fr 1fr 2fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  border-bottom: 1px solid #404040;
  border-left: 1px solid #404040;
  border-right: 1px solid #404040;
}

main .cart_list_area .cart_box .calc_area p {
  margin-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

main .cart_list_area .cart_box .calc_area p .select_number {
  background-color: #dddddd;
}

main .cart_list_area .cart_box .calc_area .txt_quantity {
  text-align: right;
  margin-left: 0;
  margin-right: 20px;
}

main .cart_list_area .cart_box .product_price {
  color: #ff0000;
  font-weight: bold;
  margin-left: 20px;
}

main .input_area {
  max-width: 640px;
  margin-left: auto;
  margin-right: auto;
}

main .input_area p {
  margin-top: 20px;
}

@media screen and (min-width: 768px) {
  main .input_area p {
    font-size: 1.1rem;
  }
}

main .input_area .input_space {
  background-color: #eeeeee;
  border: 1px solid #000000;
  height: 30px;
  margin-top: 10px;
  padding-left: 5px;
}

@media screen and (min-width: 768px) {
  main .input_area .input_space {
    height: 40px;
  }
}

main .input_area .button_area_double {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  grid-column-gap: 20px;
}

main .input_area .button_area_double .btn_link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 60px;
  width: 100%;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 4px;
}

main .input_area .button_area_double .btn_link:hover {
  opacity: 0.5;
}

main .register_area {
  max-width: 480px;
  margin-left: auto;
  margin-right: auto;
}

main .register_area .register_box {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
}

@media screen and (max-width: 575px) {
  main .register_area .register_box {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

main .register_area .register_box p {
  margin-top: 20px;
  text-align: justify;
  text-justify: inter-ideograph;
}

@media screen and (min-width: 768px) {
  main .register_area .register_box p {
    font-size: 1.1rem;
  }
}

main .register_area .register_box p.item {
  font-size: 1.1rem;
  font-weight: bold;
}

@media screen and (min-width: 768px) {
  main .register_area .register_box p.item {
    text-align: right;
  }
}

main .register_area .register_box p.input {
  padding-left: 20px;
}

main .register_area .button_area_double {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  grid-column-gap: 20px;
}

main .register_area .button_area_double .btn_link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 60px;
  width: 100%;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 4px;
}

main .register_area .button_area_double .btn_link:hover {
  opacity: 0.5;
}

main .other_area {
  margin-left: auto;
  margin-right: auto;
}

main .other_area h2 {
  margin-bottom: 40px;
  text-align: center;
}

main .other_area h2 .txt_total_price {
  color: #ff0000;
  padding-left: 20px;
}

@media screen and (min-width: 576px) {
  main .other_area h2 {
    font-size: 2rem;
  }
}

@media screen and (min-width: 992px) {
  main .other_area h2 {
    font-size: 3rem;
  }
}

main .other_area h3 {
  text-align: center;
}

@media screen and (min-width: 576px) {
  main .other_area h3 {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 992px) {
  main .other_area h3 {
    font-size: 2rem;
  }
}

main .other_area .btn_link {
  max-width: 480px;
  display: block;
  width: 100%;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
}

main .other_area .btn_link:hover {
  opacity: 0.5;
}

main .other_area .btn_link.btn_long {
  margin-top: 80px;
}

.btn_link.modify, .btn_link.return {
  color: #ffffff;
  background-color: #444444;
}

.btn_link.delete {
  color: #ffffff;
  background-color: #ff0000;
}

.btn_link.register {
  color: #ffffff;
  background-color: #0000ff;
}
/*# sourceMappingURL=customer_common.css.map */