@charset "UTF-8";

@import "./main.scss";

@mixin product_box_parts() {
    border: 1px solid #000000;
    padding: 20px;

    img {
        width: 100%;
    }

    .product_name {
        font-size: 1.1rem;
        margin-top: 20px;
    }

    .product_price {
        color: #ff0000;
        font-weight: bold;
        margin-top: 10px;
    }

    .product_evaluation {
        color: #d6c429;
        margin-top: 10px;
    }

    .product_review {
        margin-top: 20px;

        &.txt_hide {
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 3;
            overflow: hidden;
        }
    }
}

@mixin btn_area_double_parts() {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-column-gap: 20px;
}

@mixin link_button_parts() {
    width: 100%;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 4px;

    &:hover {
        opacity: 0.5;
    }
}

.title_area {
    grid-column-start: mainStart;
    grid-column-end: mainEnd;
    grid-row-start: title;

    h2 {
        font-size: 1.5rem;
        font-weight: bold;
        text-align: center;
        margin-top: 60px;

        @include mq(col-sm) {
            font-size: 2rem;
        }

        @include mq(col-lg) {
            font-size: 3rem;
        }
    }

    h3 {
        font-size: 1.3rem;
        text-align: center;
        margin-top: 60px;

        @include mq(col-sm) {
            font-size: 1.5rem;
        }

        @include mq(col-lg) {
            font-size: 2rem;
        }
    }

    p {
        margin-top: 60px;
        text-align: center;

        @include mq(col-md) {
            font-size: 1.3rem;
        }
    }
}

main {
    grid-column-start: mainStart;
    grid-column-end: mainEnd;
    grid-row-start: main;

    // ↓商品単品表示↓
    .product_pickup_area {
        max-width: 480px;
        margin-top: 60px;
        margin-left: auto;
        margin-right: auto;
    
        .product_box {
            @include product_box_parts();
        }
    
        .button_area_double {
            @include btn_area_double_parts();

            .btn_link {
                display: flex;
                align-items: center;
                justify-content: center;
                margin-top: 60px;
                @include link_button_parts();
            }
        }
    }
    // ↑商品単品表示↑

    // ↓カート一覧表示↓
    .cart_list_area {
        grid-template-columns: 1fr;
        margin-top: 60px;
        margin-left: auto;
        margin-right: auto;

        @include mq(col-md) {
            max-width: 640px;
        }

        .cart_box {
            margin-bottom: 20px;

            &:last-child {
                margin-bottom: 0;
            }
        
            .detail_area {
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: auto auto;
                border-top: 1px solid #404040;
                border-bottom: 1px dashed #404040;
                border-left: 1px solid #404040;
                border-right: 1px solid #404040;
                padding: 10px;
    
                .product_image {
                    grid-row-end: span 2;
                    width: 100%;
                }
    
                .product_name {
                    font-weight: bold;
                    margin-left: 20px;
                }
            }
    
            .calc_area {
                display: grid;
                grid-template-columns: 1fr 1fr 2fr;
                grid-template-rows: auto;
                border-bottom: 1px solid #404040;
                border-left: 1px solid #404040;
                border-right: 1px solid #404040;
    
                p {
                    margin-left: 20px;
                    padding-top: 10px;
                    padding-bottom: 10px;
    
                    .select_number {
                        background-color: #dddddd;
                    }
                }
    
                .txt_quantity {
                    text-align: right;
                    margin-left: 0;
                    margin-right: 20px;
                }
            }
    
            .product_price {
                color: #ff0000;
                font-weight: bold;
                margin-left: 20px;
            }
        }
    }
    // ↑カート一覧表示↑

    // ↓入力フォーム表示↓
    .input_area {
        max-width: 640px;
        margin-top: 60px;
        margin-left: auto;
        margin-right: auto;

        p {
            margin-top: 20px;

            @include mq(col-md) {
                font-size: 1.1rem;
            }
        }

        .input_space {
            background-color: #eeeeee;
            border: 1px solid #000000;
            height: 30px;
            margin-top: 10px;
            padding-left: 5px;

            @include mq(col-md) {
                height: 40px;
            }
        }
    
        .button_area_double {
            @include btn_area_double_parts();

            .btn_link {
                display: flex;
                align-items: center;
                justify-content: center;
                margin-top: 60px;
                @include link_button_parts();
            }
        }
    }
    // ↑入力フォーム表示↑

    // ↓送信確認表示↓
    .register_area {
        max-width: 480px;
        margin-top: 40px;
        margin-left: auto;
        margin-right: auto;

        .register_box {
            display: grid;
            grid-template-columns: 1fr 2fr;
            grid-template-rows: auto;

            @include mq(col) {
                grid-template-columns: 1fr;
            }

            p {
                margin-top: 20px;
                text-align: justify;
                text-justify: inter-ideograph;

                @include mq(col-md) {
                    font-size: 1.1rem;
                }

                &.item {
                    font-size: 1.1rem;
                    font-weight: bold;

                    @include mq(col-md) {
                        text-align: right;
                    }
                }

                &.input {
                    padding-left: 20px;
                }
            }
        }
    
        .button_area_double {
            @include btn_area_double_parts();

            .btn_link {
                display: flex;
                align-items: center;
                justify-content: center;
                margin-top: 60px;
                @include link_button_parts();
            }
        }
    }
    // ↑送信確認表示↑

    .other_area {
        margin-top: 60px;
        margin-left: auto;
        margin-right: auto;

        h2 {
            margin-bottom: 40px;
            text-align: center;

            .txt_total_price {
                color: #ff0000;
                padding-left: 20px;
            }

            @include mq(col-sm) {
                font-size: 2rem;
            }
    
            @include mq(col-lg) {
                font-size: 3rem;
            }
        }

        h3 {
            text-align: center;

            @include mq(col-sm) {
                font-size: 1.5rem;
            }
    
            @include mq(col-lg) {
                font-size: 2rem;
            }
        }

        .btn_link {
            max-width: 480px;
            display: block;
            @include link_button_parts();
            margin-left: auto;
            margin-right: auto;

            &.btn_long {
                margin-top: 80px;
            }
        }
    }
}

// ↓ボタン装飾↓
.btn_link {
    &.modify, &.return {
        color: #ffffff;
        background-color: #444444;
    }

    &.delete {
        color: #ffffff;
        background-color: #ff0000;
    }

    &.register {
        color: #ffffff;
        background-color: #0000ff;
    }
}
// ↑ボタン装飾↑