@charset "UTF-8";

@import "./main.scss";

footer {
    grid-column-start: left;
    grid-column-end: right;
    grid-row-start: foot;

    max-width: 1140px;
    background-color: #84e2ff;
    border: 2px solid #000000;

    .footer_layout {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: auto;

        @include mq(md) {
            grid-template-columns: 1fr;
        }

        h1 {
            justify-self: start;
            align-self: center;
            font-size: 40px;
            font-weight: 800;
            -webkit-text-stroke: 2px #ffffff;
            margin-top: 40px;
            letter-spacing: -4px;
            text-align: center;
            margin-left: 40px;

            @include mq(md) {
                justify-self: stretch;
                margin-left: 0;
            }
        }
    
        .portfolio_site {
            justify-self: end;
            align-self: center;
            font-size: 14px;
            text-align: center;
            margin-top: 40px;
            margin-right: 40px;

            @include mq(md) {
                justify-self: stretch;
                margin-right: 0;
            }
        }
    }

    .copyright {
        font-size: 14px;
        text-align: center;
        margin-top: 40px;
        margin-bottom: 40px;
    }

    @include mq(xg) {
        grid-column-start: mainStart;
        grid-column-end: mainEnd;
    }
}