body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: [left] minmax(20px, 1fr) [mainStart] minmax(auto, 1140px) [mainEnd] minmax(20px, 1fr) [right];
      grid-template-columns: [left] minmax(20px, 1fr) [mainStart] minmax(auto, 1140px) [mainEnd] minmax(20px, 1fr) [right];
  -ms-grid-rows: [head] auto [head] auto [img] auto [admin] auto [title] auto [main] auto [foot] auto [bottom];
      grid-template-rows: [head] auto [head] auto [img] auto [admin] auto [title] auto [main] auto [foot] auto [bottom];
}

header {
  -ms-grid-column: left;
      grid-column-start: left;
  grid-column-end: right;
  -ms-grid-row: head;
      grid-row-start: head;
  height: 80px;
  background-color: #84e2ff;
  border: 2px solid #000000;
}

@media screen and (max-width: 750px) {
  header {
    height: 60px;
  }
}

@media screen and (min-width: 1140px) {
  header {
    -ms-grid-column: mainStart;
        grid-column-start: mainStart;
    grid-column-end: mainEnd;
  }
}

header h1 {
  display: inline-block;
  font-size: 60px;
  font-weight: 800;
  letter-spacing: -4px;
  margin-left: 10px;
  vertical-align: top;
}

@media screen and (max-width: 750px) {
  header h1 {
    font-size: 40px;
  }
}

header h1 a {
  color: #000000;
  text-decoration: none;
  -webkit-text-stroke: 2px #ffffff;
}

button {
  -ms-grid-column: mainStart;
      grid-column-start: mainStart;
  grid-column-end: mainEnd;
  -ms-grid-row: head;
      grid-row-start: head;
  -ms-grid-column-align: end;
      justify-self: end;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 32px;
  height: 32px;
  display: none;
  cursor: pointer;
}

@media screen and (max-width: 750px) {
  button {
    display: block;
  }
}

button img {
  width: 100%;
  height: 100%;
}

.menu_area {
  -ms-grid-column: left;
      grid-column-start: left;
  grid-column-end: right;
  -ms-grid-row: head;
      grid-row-start: head;
  -ms-grid-column-align: end;
      justify-self: end;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

@media screen and (max-width: 750px) {
  .menu_area {
    -ms-grid-row: head 2;
        grid-row-start: head 2;
    -ms-grid-column-align: stretch;
        justify-self: stretch;
    max-height: 0;
    overflow: hidden;
  }
}

@media screen and (min-width: 1140px) {
  .menu_area {
    -ms-grid-column: mainStart;
        grid-column-start: mainStart;
    grid-column-end: mainEnd;
  }
}

.menu_area ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 750px) {
  .menu_area ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.menu_area ul a {
  color: #000000;
  display: block;
  text-decoration: none;
  padding: 10px 20px;
}

.menu_area ul a:hover {
  background-color: #bce8f5;
}

.top_image_area {
  -ms-grid-column: left;
      grid-column-start: left;
  grid-column-end: right;
  -ms-grid-row: img;
      grid-row-start: img;
  border: solid #000000;
  border-width: 0px 2px 2px 2px;
}

.top_image_area img {
  width: 100%;
  height: auto;
  vertical-align: bottom;
}

@media screen and (min-width: 1140px) {
  .top_image_area {
    -ms-grid-column: mainStart;
        grid-column-start: mainStart;
    grid-column-end: mainEnd;
  }
}
/*# sourceMappingURL=header.css.map */