body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: [left] minmax(20px, 1fr) [mainStart] minmax(auto, 1200px) [mainEnd] minmax(20px, 1fr) [right];
      grid-template-columns: [left] minmax(20px, 1fr) [mainStart] minmax(auto, 1200px) [mainEnd] minmax(20px, 1fr) [right];
  -ms-grid-rows: [head] auto [head] auto [img] auto [admin] auto [title] auto [main] auto [foot] auto [bottom];
      grid-template-rows: [head] auto [head] auto [img] auto [admin] auto [title] auto [main] auto [foot] auto [bottom];
}

.title_area {
  -ms-grid-column: mainStart;
      grid-column-start: mainStart;
  grid-column-end: mainEnd;
  -ms-grid-row: title;
      grid-row-start: title;
}

.title_area .caution {
  max-width: 960px;
  color: #ff0000;
  font-weight: bold;
  margin-top: 60px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 576px) {
  .title_area .caution {
    font-size: 1.3rem;
  }
}

.title_area h2 {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  margin-top: 60px;
}

@media screen and (min-width: 576px) {
  .title_area h2 {
    font-size: 2rem;
  }
}

@media screen and (min-width: 992px) {
  .title_area h2 {
    font-size: 3rem;
  }
}

.title_area h3 {
  font-size: 1.3rem;
  text-align: center;
  margin-top: 60px;
}

@media screen and (min-width: 576px) {
  .title_area h3 {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 992px) {
  .title_area h3 {
    font-size: 2rem;
  }
}

main {
  -ms-grid-column: mainStart;
      grid-column-start: mainStart;
  grid-column-end: mainEnd;
  -ms-grid-row: main;
      grid-row-start: main;
}

main .product_list_area {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  grid-row-gap: 10px;
  margin-top: 60px;
}

@media screen and (min-width: 576px) {
  main .product_list_area {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }
}

@media screen and (min-width: 992px) {
  main .product_list_area {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
}

main .product_list_area .product_box {
  display: block;
  border: 1px solid #000000;
  padding: 10px;
  padding: 8px;
  text-decoration: none;
  color: #000000;
  cursor: pointer;
  position: relative;
}

@media screen and (min-width: 576px) {
  main .product_list_area .product_box {
    padding: 20px;
  }
}

main .product_list_area .product_box img {
  float: left;
  width: 25%;
  margin-right: 8px;
}

@media screen and (min-width: 576px) {
  main .product_list_area .product_box img {
    float: none;
    width: 100%;
    margin-right: 0;
  }
}

main .product_list_area .product_box .name_price_review {
  float: left;
}

@media screen and (min-width: 576px) {
  main .product_list_area .product_box .name_price_review {
    float: none;
  }
}

main .product_list_area .product_box .name_price_review .product_name {
  font-size: 0.8rem;
  letter-spacing: -0.05em;
}

@media screen and (min-width: 576px) {
  main .product_list_area .product_box .name_price_review .product_name {
    font-size: 1.1rem;
    margin-top: 10px;
    letter-spacing: 0em;
  }
}

main .product_list_area .product_box .name_price_review .product_price {
  color: #ff0000;
  font-weight: bold;
  font-size: 0.8rem;
}

@media screen and (min-width: 576px) {
  main .product_list_area .product_box .name_price_review .product_price {
    font-size: 1rem;
  }
}

main .product_list_area .product_box .name_price_review .product_evaluation {
  color: #d6c429;
  font-size: 0.8rem;
}

@media screen and (min-width: 576px) {
  main .product_list_area .product_box .name_price_review .product_evaluation {
    font-size: 1rem;
  }
}

main .product_list_area .product_box .name_price_review .product_review {
  display: none;
}

@media screen and (min-width: 576px) {
  main .product_list_area .product_box .name_price_review .product_review {
    display: block;
    margin-top: 20px;
  }
  main .product_list_area .product_box .name_price_review .product_review.txt_hide {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
  }
}

main .product_list_area .product_box .name_price_review:after {
  content: '';
  display: block;
  clear: both;
}

main .product_list_area .product_box:hover {
  background-color: #dddddd;
  opacity: 0.7;
}

@media screen and (min-width: 576px) {
  main .product_list_area .product_box {
    padding: 20px;
  }
}

main .product_list_area .product_box .already_cartin {
  width: 12%;
  height: auto;
  position: absolute;
  top: 5px;
  left: 5px;
}

@media screen and (min-width: 576px) {
  main .product_list_area .product_box .already_cartin {
    width: 20%;
    top: 30px;
    left: 30px;
  }
}
/*# sourceMappingURL=index.css.map */