@charset "UTF-8";

@import "./main.scss";

@mixin product_box_parts() {
    border: 1px solid #000000;
    padding: 10px;

    @include mq(col-sm) {
        padding: 20px;
    }

    img {
        float: left;
        width: 25%;
        margin-right: 8px;

        @include mq(col-sm) {
            float: none;
            width: 100%;
            margin-right: 0;
        }
    }

    .name_price_review {
        float: left;

        @include mq(col-sm) {
            float: none;
        }

        .product_name {
            font-size: 0.8rem;
            letter-spacing: -0.05em;
    
            @include mq(col-sm) {
                font-size: 1.1rem;
                margin-top: 10px;
                letter-spacing: 0em;
            }
        }
    
        .product_price {
            color: #ff0000;
            font-weight: bold;
            font-size: 0.8rem;
    
            @include mq(col-sm) {
                font-size: 1rem;
            }
        }
    
        .product_evaluation {
            color: #d6c429;
            font-size: 0.8rem;
    
            @include mq(col-sm) {
                font-size: 1rem;
            }
        }
    
        .product_review {
            display: none;
    
            @include mq(col-sm) {
                display: block;
                margin-top: 20px;
    
                &.txt_hide {
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 3;
                    overflow: hidden;
                }
            }
        }

        &:after {
            content: '';
            display: block;
            clear: both;
        }

    }

    &:hover {
        background-color: #dddddd;
        opacity: 0.7;
    }
}

// ↓タイトル表示エリア↓
.title_area {
    grid-column-start: mainStart;
    grid-column-end: mainEnd;
    grid-row-start: title;

    .caution {
        max-width: 960px;
        color: #ff0000;
        font-weight: bold;
        margin-top: 60px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;

        @include mq(col-sm) {
            font-size: 1.3rem;
        }
    }

    h2 {
        font-size: 1.5rem;
        font-weight: bold;
        text-align: center;
        margin-top: 60px;

        @include mq(col-sm) {
            font-size: 2rem;
        }

        @include mq(col-lg) {
            font-size: 3rem;
        }
    }

    h3 {
        font-size: 1.3rem;
        text-align: center;
        margin-top: 60px;

        @include mq(col-sm) {
            font-size: 1.5rem;
        }

        @include mq(col-lg) {
            font-size: 2rem;
        }
    }
}
// ↑タイトル表示エリア↑

main {
    grid-column-start: mainStart;
    grid-column-end: mainEnd;
    grid-row-start: main;

    .product_list_area {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-row-gap: 10px;
        margin-top: 60px;
    
        @include mq(col-sm) {
            grid-template-columns: 1fr 1fr;
            grid-column-gap: 20px;
            grid-row-gap: 20px;
        }

        @include mq(col-lg) {
            grid-template-columns: 1fr 1fr 1fr;
        }

        .product_box {
            display: block;
            @include product_box_parts();
            padding: 8px;
            text-decoration: none;
            color: #000000;
            cursor: pointer;
            position: relative;

            @include mq(col-sm) {
                padding: 20px;
            }

            .already_cartin {
                width: 12%;
                height: auto;
                position: absolute;
                top: 5px;
                left: 5px;

                @include mq(col-sm) {
                    width: 20%;
                    top: 30px;
                    left: 30px;
                }
            }
        }
    }
}