@charset "UTF-8";

$breakpoints: (
    'sm': 'screen and (max-width: 480px)',
    'md': 'screen and (max-width: 750px)',
    'ml': 'screen and (max-width: 799px)',
    'lg': 'screen and (max-width: 960px)',
    'xg': 'screen and (min-width: 1140px)'
) !default;

@mixin mq($breakpoint: md) {
    @media #{map-get($breakpoints, $breakpoint)} {
        @content;
    }
}

body {
    display: grid;
    grid-template-columns:
        [left] minmax(20px, 1fr)
        [mainStart] minmax(auto, 1140px)
        [mainEnd] minmax(20px, 1fr)
        [right];

    grid-template-rows:
        [head] auto
        [head] auto
        [img] auto
        [title] auto
        [main] auto
        [foot] auto
        [bottom];
}