@charset "UTF-8";

$breakpoints: (
    'col': 'screen and (max-width: 575px)',
    'col-sm': 'screen and (min-width: 576px)',
    'col-md': 'screen and (min-width: 768px)',
    'col-lg': 'screen and (min-width: 992px)',
    'col-xl': 'screen and (min-width: 1200px)'
) !default;

@mixin mq($breakpoint: md) {
    @media #{map-get($breakpoints, $breakpoint)} {
        @content;
    }
}

body {
    display: grid;
    grid-template-columns:
        [left] minmax(20px, 1fr)
        [mainStart] minmax(auto, 1200px)
        [mainEnd] minmax(20px, 1fr)
        [right];

    grid-template-rows:
        [head] auto
        [head] auto
        [img] auto
        [admin] auto
        [title] auto
        [main] auto
        [foot] auto
        [bottom];
}