@charset "UTF-8";

@import "./main.scss";

.title_area {
    grid-column-start: mainStart;
    grid-column-end: mainEnd;
    grid-row-start: main;

    max-width: 1140px;

    h3 {
        font-size: 20px;
        font-weight: bold;
        text-align: center;
        margin-top: 60px;

        .warning {
            color: #ff0000;
        }
    }

    p {
        font-size: 14px;
        text-align: center;
        margin-top: 60px;
    }

    .btn_link {
        display: block;
        max-width: 280px;
        color: #ffffff;
        background-color: #444444;
        font-size: 18px;
        font-weight: bold;
        text-align: center;
        margin-top: 80px;
        margin-left: auto;
        margin-right: auto;
        padding: 10px 20px;
        text-decoration: none;
        border-radius: 4px;
    }
}